Source: pgapi
Maintainer: Adrian Vondendriesch <adrian.vondendriesch@credativ.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 4.1.3

Package: python3-pgapi
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Simple REST API for postgresql on Debian systems.
 pgapi tries to be a simple but useful REST API for Debian based
 PostgreSQL Systems.  It offers a way to create, delete and control
 PostgreSQL clusters via HTTP requests.

